@page
@model AzureBlobUpload.Pages.PhotoUploadModel


<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h2 class="text-primary pl-3">
        Upload Photo
    </h2>

    <div class="mb-3">
        <label>Upload image</label>
        <input asp-for=@Model.files class="form-control" />
        <button type="submit" class="btn btn-primary" style="width:150px;">Submit</button>
    </div>
</form>
